/*the intro text container, and the bit of css needed to hightlight "objectif"*/

.intro-text-box {
  display: flex;
  font-size: 1.1rem;
  background-image: url('/tile_ivory.jpg');
  padding: 1rem 1.5rem;
  margin: 1rem auto;
  width: 400px;
  min-width: 400px;
  max-width: 400px;
  border-radius: 8px;
  min-height: 120px; /* Ajuste selon le contenu */
  max-height: 320px;
  text-align: left;
  align-items: center;
  border: 2px solid #333;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.highlight {
  font-weight: bold;
  font-family: 'Caveat', cursive;
  font-size: 2rem;
  color: red;
}

.intro-text {
  font-size: 1.1rem;
  margin: 0.5rem 0 0;
  color: #444;
}
